<footer class="fixed bottom-0 w-full py-3 border-t bg-white/90 dark:bg-slate-900/90 backdrop-blur-sm text-[10px] text-slate-400 uppercase font-bold tracking-widest z-40 px-4 flex flex-col md:flex-row justify-between items-center border-slate-100 dark:border-slate-800 gap-2">
    <div>v2.2.0 | CREADOR: RAUL CUE</div>

    <div class="hidden md:block">
        CONTACTO:
        <a href="https://www.linkedin.com/in/raulcue/" 
           target="_blank"
           class="hover:text-blue-600 transition-colors underline">
            LINKEDIN
        </a>
    </div>

    <div>COPYRIGHT 2026-2030</div>
</footer>
